{% extends "noteitdown/base.html" %}
{% block content %}
    <br>
    <div class="container text-center">
    <form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            <label>Author Name</label>
            {{form.author_name}}
        </div>
        <div class="form-group">
            <label>Department</label>
            {{form.department}}
        </div>
        <div class="form-group">
            <label>Display File Name</label>
            {{form.name}}
        </div>
        <div class="form-group">
            <label>File Upload</label>
            {{form.file}}
        </div>
        <button type="submit" class="btn btn-primary"> Submit</button>
    </form>
    </div>
{% endblock %}